dash==2.16.1
dash-bootstrap-components==1.5.0
dash-table==5.0.0
plotly==5.20.0
pandas==2.2.1
numpy==1.26.4
scikit-learn==1.4.1.post1
imbalanced-learn==0.11.0
fpdf2==2.7.8
joblib==1.4.2
openpyxl==3.1.2
chardet==5.2.0
python-dateutil==2.9.0.post0
openai==0.27.8
gunicorn==20.1.0